<!-- <p [title]="test">{{test}}</p>
<p [innerHTML]="test"></p>
<ul *ngIf="arr.length>0">
    <li *ngFor="let item of arr">{{item.name}}- {{item.age}}</li>
</ul>
<input type="text" [(ngModel)]="inputVal">

<ul>
     <li (click)="delTutorial(i)" *ngFor="let tutorial of tutorials | async;let i = index">
          <a [href]="tutorial.url">{{tutorial.name}}</a>
     </li>
</ul>
<button (click)="addTutorial()">添加数据</button>
<br/>
<br/>
<button (click)="getData()">更改数据</button> -->
<div class="inner-html">
     <h4>本项目是一个教程</h4>
     <ul class="list-navs clearfix">
          <li class="item-link">
               基础教程
          </li>
     </ul>
</div>
