<div class="inner-html">
    
    <h3>基础教程</h3>
    <div class="block">
        <h4>一、创建项目</h4>
        <p>ng mew my-app</p>
        <p>cd my-app</p>
        <p>ng serve --open</p>
    </div>
    <div class="block">
        <h4>二、目录结构</h4>
        <img src="/assets/img/1480597-2cb7c7aa06aa3e2d.webp" alt="">
    </div>

    <div class="block">
        <h4>三、装饰器</h4>
        <p>@inputs装饰器：是用来接收外部传入的数据的,Angular的程序结构就是一个组件树，输入属性允许在组件树种传递数据</p>
        <p>生命周期钩子（LifeCycle Hooks）：一个组件从创建到销毁的过程中会有多个钩子会被触发，类似于Android中的Activity的生命周期</p>
        <div class="item-list-area">
                ngOnChanges - 当数据绑定输入属性的值发生变化时调用<br>
                ngOnInit - 在第一次 ngOnChanges 后调用<br>
                ngDoCheck - 自定义的方法，用于检测和处理值的改变<br>
                ngAfterContentInit - 在组件内容初始化之后调用<br>
                ngAfterContentChecked - 组件每次检查内容时调用<br>
                ngAfterViewInit - 组件相应的视图初始化之后调用<br>
                ngAfterViewChecked - 组件每次检查视图时调用<br>
                ngOnDestroy - 指令销毁前调用<br>
        </div>
        <p>样式表：组件可以关联一些样式表</p>
        <p>动画（Animations）： Angular提供了一个动画包来帮助我们方便的创建一些跟组件相关的动画效果，比如淡入淡出等</p>
        <div class="item-list-area">
            <pre>
                
            </pre>
        </div>
        <p>输出属性（@Outputs）：用来定义一些其他组件可能需要的事件或者用来在组件之间共享数据</p>
    </div>
    
</div>
